@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

.hamburguer {
    width: 2.5rem;
    height: 1.6rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: all 1s;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line {
    width: 100%;
    height: 0.25rem;
    background-color: white;
    z-index: 101;
    /* box-shadow: .1rem .1rem 4px black; */
    border-radius: 3px;
    transition: transform .9s;
    
}

.show-menu #line1{
    background-color: #555;
    transform: rotate(45deg) translate(0.5rem, +.2rem);
}

.show-menu #line2 {
    visibility: hidden;
}

.show-menu #line3{
    background-color: #555;
    transform: rotate(-45deg) translate(0.7rem, -.5rem);
}

.hamburguer span {
    position: absolute;
    left: 4rem;
    top: -.6rem;
    width: 5rem;
    height: 1.5rem;
    background-color: #6a3093;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid #6a3093;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    /* overflow: hidden; */
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 20s;
}

@keyframes zoom {
    0% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 20%;
    left: 15%;
}

.banner h1 {
    color:#ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.3);
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    animation: moveBanner .8s;
}

.banner p {
    color:#ffffff;
    font-size: 1.8rem;
    font-family: var(--font-secundary);
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5rem;
    letter-spacing: 0.2rem;
    animation: moveBanner 1s;
}

.banner button {
    font-family: var(--font-action);
    color: #ffffff;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem 2.8rem;
    background: linear-gradient(to right, #6a3093, #a044ff);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: moveBanner 1.2s;
}

@keyframes moveBanner {
    0% {
        transform: translateY(50vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    background-color: white;
    top: 0;
    right: -20rem;
    transition: all 1s; 
}

.show-menu .sidebar{ 
    right: 0rem;
}



.menu {
    margin: 50% 0 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    font-size: 1.5rem;
}

.menu-item {    
    margin-bottom: .5rem;
}

.menu-link:hover {
    color: #6a3093;
    font-size: 2.2rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    font-weight: 00;
    color: #555;
    transition: .8s;
}

.social-media {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
} 

.social-media i {
    font-size: 1.8rem;
    color: #555;
    transition: font-size .8s;
}

.social-media i:hover {
    color: #6a3093;
    font-size: 2.2rem;
}
